/************** First Div **************/
.container {
/*  background-color: aqua;*/
}
.right-side {
  float: right;
  margin-right: 50px;
  text-align: center;
}

/************** Second Div **************/
.studList {
/*background-color: #eee;*/
  /*height: 200px;*/
  padding: 20px;
}

/************** Third Div **************/
.highStud {
/*  background-color: blanchedalmond;*/
  /*margin-top: 30px;*/
  /*height: 400px;*/
  padding: 30px;
}
